*{
  margin:0; padding: 0;
  ul {
    list-style-type: none;
  }
  a {text-decoration: none;}
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  > a {
    display: block;
    padding: 30px 0;
  }
}
.container {
  display: flex;
  gap: 10px;
  border: 1px solid #ddd;
  max-width: 1200px;
  height: 80vh;
  margin:0 auto;
  .left,.right{padding:30px;}
  .left {
    width: 300px;
    background-color: #eee;
    .user-info {
      
    }
    .chat-menu {
      padding-top: 30px;
    }
  }
  .right {
  }
}